$height:100%;
.login_bgx{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: url(../assets/login_bgx.gif);
		z-index: -1;
	}
.login_m{
	width: 403px;
	margin:  auto;
	height: 400px;
	z-index: 999;
	position: absolute;
    top:50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -200px;
}
.login_logo{
	margin-bottom: 35px;
	h1{
		font-size: 33px;
		color: #3497ec;
		text-shadow: 3px 3px 2px black, -3px -3px 2px white;
	}
}
.login_boder{
	background: #f7f7f7;
	height: $height;
	box-shadow: #d4d4d4 0px 0px 30px 5px ;
	.login_padding{
		padding: 28px 47px 20px 47px;
		h2{
			color: #4f5d80;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: normal;
			margin-bottom: 11px;
			text-align: left;
		}
		.forgot{
			font-size: 11px;
			text-align: right;
			margin-bottom: 15px;
			a{
				color: #8c8e91;
				text-decoration: none;
			}
		}
		.rem_sub{
			.rem_sub_l{
				float: left;
				font-size: 12px;
				height: 33px;
				line-height: 33px;
			}
			.sub_button {
				float: right;
				width: 122px;
				height: 32px;
				background: url(../assets/site_bg.png) no-repeat -153px -850px;
				border: none;
				color: #FFF;
				padding: 0;
				font-size: 14px;
				font-weight: bold;
			}
		}
	}
}
